form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  width: 300px;
  height: 150px;

  margin: auto;
}
label {
  text-align: left;
  padding: 5px;
}
input {
  margin: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
}

button {
  margin-top: 10px;
  background-color: salmon;

  padding: 7px;
  border: none;
  border-radius: 5px;
}
